<div class="projects">
    <div class="block">
        <div>
            <img class="logo" src="./images/yourtube.svg">
        </div>
        <div>
            <div class="title">YourTube</div>
            <div class="detail">Chrome Extension</div>
            <div class="description">
                The truth is YouTube is designed to make anyone binge-watch it all day. We want to make it productive for people who use it for work or learning. This extension is an attempt to provide a minimalist approach to Youtube with full customizability.
            </div>
        </div>
    </div>

    <div class="block">
        <div>
            <img class="logo" src="./images/covidbot.svg">
        </div>
        <div>
            <div class="title">CovidBot</div>
            <div class="detail">Telegram Bot</div>
            <div class="description">
                A Telegram bot which sends live Covid-19 stats as replies like a chatbot. The functionality includes fetching
all India stats, state wise stats with sorted district breakdown down and last N days trends stats. The bot has
been used​ 6000+ times​ till now.
            </div>
        </div>
    </div>

    <div class="block">
        <div>
            <img class="logo" src="./images/coursera.png">
        </div>
        <div>
            <div class="title">Coursera HD Video Downloader</div>
            <div class="detail">Chrome Extension</div>
            <div class="description">
                Currently have​ 2000+ active users​ and still increasing, this extension makes it possible to download the
Coursera videos in the best quality available.
            </div>
        </div>
    </div>
</div>