<div class="projects">
    <div class="block">
        <div>
            <img class="logo" src="./images/cookerBeepiPhone.png">
        </div>
        <div>
            <div class="title">CookerBeep</div>
            <div class="detail">iOS Application</div>
            <div class="description">
                An iOS app which counts your cooker whistles for you. It uses the microphone to detect the sound of the cooker and
                counts the number of whistles. The app is currently in beta and will be
                released in the App Store soon.
            </div>
        </div>
    </div>

    <div class="block">
        <div>
            <img class="logo" src="./images/yourtube.svg">
        </div>
        <div>
            <div class="title"><a href="https://bit.ly/getyourtube">YourTube</a></div>
            <div class="detail">Chrome Extension</div>
            <div class="description">
                The truth is YouTube is designed to make anyone binge-watch it all day. We want to make it productive for people who use it for work or learning. This extension is an attempt to provide a minimalist approach to Youtube with full customizability.
            </div>
        </div>
    </div>

    <div class="block">
        <div>
            <img class="logo" src="./images/covidbot.svg">
        </div>
        <div>
            <div class="title">CovidBot (Archived)</div>
            <div class="detail">Telegram Bot</div>
            <div class="description">
                A Telegram bot which sends live Covid-19 stats as replies like a chatbot. The functionality includes fetching
all India stats, state wise stats with sorted district breakdown down and last N days trends stats. The bot has
been used​ 6000+ times​ till now.
            </div>
        </div>
    </div>

    <div class="block">
        <div>
            <img class="logo" src="./images/coursera.png">
        </div>
        <div>
            <div class="title">Coursera HD Video Downloader (Archived)</div>
            <div class="detail">Chrome Extension</div>
            <div class="description">
                Currently have​ 2000+ active users​ and still increasing, this extension makes it possible to download the
Coursera videos in the best quality available.
            </div>
        </div>
    </div>
</div>