<p class="home fs-18">My latest creations</p>
<table class="project__table">
  <tr>
    <td>
      <span class="link">
        <a href="https://apps.apple.com/us/app/cookerbeep/id6745149543">CookerBeep</a>
      </span>
    </td>
    <td>📱 iOS App which counts your cooker whistles for you</td>
  </tr>
  <tr>
    <td>
      <span class="link">
        <a href="https://bit.ly/getyourtube">YourTube</a>
      </span> (beta)
    </td>
    <td>🎯 Extension for a productive Youtube experience</td>
  </tr>
</table>