<p class="home fs-18">My latest creations</p>
<table class="project__table">
  <tr>
    <td>
      <span class="link">
        <a href="https://bit.ly/getyourtube">YourTube</a>
      </span> (beta)
    </td>
    <td>Extension for a productive Youtube experience</td>
  </tr>
  <tr>
    <td>
      <span class="link"><a href="https://bit.ly/getCHVD">Coursera Downloader</a>
      </span>
    </td>
    <td>Extension for downloading Coursera content</td>
  </tr>
  <tr>
    <td>
      <span class="link"><a href="https://github.com/Tele-Bots/CovidBot">CovidBot</a>
      </span>
    </td>
    <td>Telegram bot for India Covid-19 stats</td>
  </tr>
</table>