<p class="home fs-18">My latest creations</p>
<table class="project__table">
  <tr>
    <td>
      <span class="link">
        <a href="https://github.com/gurrrung/css-structure-comment">css-structure-comment</a>
      </span>
    </td>
    <td>🎨 VS Code extension to organize your CSS</td>
  </tr>
  <tr>
    <td>
      <span class="link">
        <a href="https://bit.ly/getyourtube">YourTube</a>
      </span> (beta)
    </td>
    <td>🎯 Extension for a productive Youtube experience</td>
  </tr>
  <tr>
    <td>
      <span class="link"><a href="https://bit.ly/getCHVD">Coursera Downloader</a>
      </span>
    </td>
    <td>📚 Extension for downloading Coursera content</td>
  </tr>
</table>