<p class="home fs-18">My latest creations</p>
<table class="project__table">
  <tr>
    <td ><span class="link">YourTube</span> (beta) </td>
    <td>Extension for a productive Youtube experience</td>
  </tr>
  <tr>
    <td  class="link">Coursera Downloader</td>
    <td>Extension for downloading Coursera content</td>
  </tr>
  <tr>
    <td  class="link">CovidBot</td>
    <td>Telegram bot for India Covid-19 stats</td>
  </tr>
</table>