<div class="projects">
    <div class="block">
        <div>
            <img class="logo" src="./images/Walmart.svg">
        </div>
        <div>
            <div class="title">Sofware Engineer</div>
            <span class="title">Walmart</span>
            <span class="detail">Jan 2021 - Present</span>

            <div class="description">
                Working on the online seller portal of Walmart using technologies like ReactJs and Redux. In this portal merchants can register their products to be listed on Walmart’s online store website.
            </div>
        </div>
    </div>

    <div class="block">
        <div>
            <img class="logo" src="./images/g4g.svg" style="margin-top: 0.8rem;">
        </div>
        <div>
            <div class="title">Technical Writer</div>
            <span class="title">GeeksforGeeks</span>
            <span class="detail">Sep 2019 - Jan 2021 • 1 year 9 months</span>

            <div class="description">
                Wrote articles on VueJS, FabricJS, PHP web development framework - Laravel and Image Processing framework - Imagick.
            </div>
        </div>
    </div>
    
    <div class="block">
        <div>
            <img class="logo" src="./images/internshala.svg" style="margin-top: 1rem;">
        </div>
        <div>
            <div class="title">Web Development TA</div>
            <span class="title">Internshala</span>
            <span class="detail">May 2019 - Oct 2020 • 1 year 6 months</span>

            <div class="description">
                Mentoring students undergoing Web Development Training. Solving their daily doubts about PHP, HTML, CSS, Bootstrap and SQL. Refactored the course fixing the mistakes and proposing various enhancements. Preparing solutions and problem statements for Internshala Trainings Web Development Competitions.
            </div>
        </div>
    </div>

    <div class="block">
        <div>
            <img class="logo" src="./images/campk12.svg">
        </div>
        <div>
            <div class="title">JavaScript Instructor</div>
            <span class="title">CampK12</span>
            <span class="detail">Aug 2019 - Dec 2020 • 5 months</span>

            <div class="description">
                Giving online live visual lectures to K-12 kids specifically on Scratch and Virtual Reality using JavaScript.
            </div>
        </div>
    </div>

    <div class="block">
        <div>
            <img class="logo" src="./images/atg.svg">
        </div>
        <div>
            <div class="title">Web Developer Intern</div>
            <span class="title">ATG</span>
            <span class="detail">Sep 2018 - Sep 2019 • 1year 1 month</span>

            <div class="description">
                I worked on Laravel - PHP based Web Development framework.
                Responsibilities:
                Solving various backend and frontend bugs involving HTML, JavaScript, JQuery and PHP while maintaining the scalability of the web app.
                Developing UI & UX of various elements with Bootstrap.
                Writing RESTful APIs.
                Major Works:
                Redeveloped the Groups page and View page of all features for ATG.            </div>
        </div>
    </div>
</div>