/* styling the navbar */
.display-intro{
  font-family: 'Press Start 2P', cursive;
  font-size: 45px;
  text-align: center;
  padding: 20px 0;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: #ffffff;
}

.jumbo-intro {
 color:#000000;
 background-color:#ffffff;
}

.text-center {
  font-family: 'Press Start 2P', cursive;
}

/* styling the projects section*/
.project{
  color: #2A2A2A;
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.project h1{
  color:#2A2A2A;
  margin: 2em;
}

/* styling the blog section*/
.blog {
  color: #2A2A2A;
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.blog h1{
  color:#2A2A2A;
  margin: 2em;
}

/* styling the contact section*/
.contact {
  color: #2A2A2A;
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.contact h1{
  color:#2A2A2A;
  margin: 2em;
}

/* font */
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Pontano Sans";
}


/*
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 20 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .01em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
*/
