/* styling the navbar */
.navbar{ background:#2A2A2A;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: black; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}

/*styling the header*/
.header{
	position: relative;
	background-size: cover;
	background-position: center;
}

.overlay{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: #2A2A2A;
}

.description{
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}

.description h1{
  color:#E4E4E4 ;
}

.description p{
  color:#666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}

.description button{
  border:1px  solid #E4E4E4;
  background:#E4E4E4;
  color:#2A2A2A;
}

/* styling the about section*/
.about{
  color: #2A2A2A;
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.about h1{
  color:#2A2A2A;
  margin: 2em;
}

.about img{
  height: 100%;
  width: 100%;
  border-radius: 50%
}

.about span{
  display: block;
  color: #2A2A2A;
  position: absolute;
  left: 115px;
}

.about .desc{
  padding: 2em;
  border-left:4px solid black;
}

.about .desc h3{
  color: #2A2A2A;
}

.about .desc p{
  line-height:2;
  color:#2A2A2A;
}

/* styling the projects section*/
.project{
  color: #2A2A2A;
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.project h1{
  color:#2A2A2A;
  margin: 2em;
}

/* styling the blog section*/
.blog {
  color: #2A2A2A;
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.blog h1{
  color:#2A2A2A;
  margin: 2em;
}

/* styling the contact section*/
.contact {
  color: #2A2A2A;
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.contact h1{
  color:#2A2A2A;
  margin: 2em;
}

/* font */
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Pontano Sans";
}


/*
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 20 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .01em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
*/
